@font-face {
    font-family: 'horror';
    src: url("g_comichorrorR_freeR.ttf") format("truetype");
    font-display: swap; 
    }
body{background-color:#ffffff8e;
    
    background-image: url(a3.jpg);
    background-position: center top;
    background-size: cover;
    
    color: rgba(250, 248, 202, 0.911);
    font-family: 'Noto Sans JP', sans-serif;
    
}

.logo{width: 80px;
    position:absolute;
    top: -10px;
}
.logo-2 {width:800px;
     height:70px;
     position: absolute;
left:90px;
top:-5px;
}

li{list-style:none;}


.main-nav{display: flex;} 
.main-nav a{margin-left:36px;
    font-family: 'horror';  
color:rgb(202, 8, 8) ;
font-size: 150%;  
text-decoration: none;}
    
header{display: flex;
    justify-content: space-between;
    border-bottom: solid  ;
border-color: rgb(70, 13, 97, 0.733);}
h1{font-size:180%;}

.image-container{display:flex;
    justify-content: center;
    opacity: 0.8;
}

.main-art h1{color: rgba(253, 246, 151, 0.911);
    background-color: rgba(70, 13, 97, 0.733);
    width:1170px;
    margin: 0 auto;
    margin-top:  0px;
    margin-bottom: 0px;
}

    h2{font-size:200%;}
.main-art h2{margin-bottom: 50px;
    margin-top: 150px;
    width:200px;
 position: relative;
 left: 0px;
color: rgb(0, 0, 0);}

.main-art ul{position: relative;
    bottom: 30px; 
    font-size: 35px;}

.li-h4{font-family: 'horror';
    color:rgb(202, 8, 8);
    
    width: 50%;
        text-align: center;
font-size:150%; 
position:relative;
left: 260px;
}
   
.li-h2{font-size: 70%;
    color: rgba(0, 0, 0, 0.911);
    background-color:rgba(255,49,49) ;
    width: 1170px;
text-align: center;
position: relative;
left: 30px;}
.li-h9{font-size: 70%;
background-color:rgba(255,49,49) ;
color:rgba(0, 0, 0, 0.911);
text-align: center;
width: 1170px;
position:relative;
left: 30px;
bottom:52px;}

.link-class{font-size: 130%;
    margin-top: 10px;
    text-align: center;
background-color: rgb(255, 49, 49);
width: 20%;
position:relative;
left: 450px;

border-radius:15px;
}
.link-class a{color: rgb(255, 255, 255);}
.link-class2{font-size: 130%;
    margin-top: 10px;
    text-align: center;
background-color: rgb(255, 49, 49);
width: 20%;
position:relative;
left: 450px;
top: 50px;
border-radius:15px;
}
.link-class2 a{color: rgb(255, 255, 255);}

.section{color: black;
position: relative;
bottom: -90px;}
.section ul{font-size: 150%;
    color:rgba(253, 246, 151, 0.911) ;}
.section p{font-size: 130%;}

.aside{ text-align: right;
    border-radius:10px;
    position: relative;
bottom: 300px;
color:rgba(253, 246, 151, 0.911) ;
background-color: rgba(70, 13, 97, 0.733);
margin-left: 1000px;
margin-top: 50px;
border:solid rgb(250, 249, 216, 0.911);
padding: 10px;
position: relative;
top: -30px;
}
.aside h2{font-size: 180%;
    line-height: 50%;
    text-align: center}
.aside h3{line-height: 50%;
    text-align: center}
    .aside p{text-align: left;}
.aside ul{list-style:none;
    line-height: 30px;
    text-align:center;
    font-size: 150%;
    font-family: 'horror';
    color:rgb(202, 8, 8);}
    .aside a{ color:rgb(202, 8, 8);}


    footer{border-top: solid  ;
    border-color:rgb(0, 0, 0);
    background-color: black;
    background-size: auto;}

.footer-ul{margin-top: 100px;}

